:root {
--brightorange: hsl(31, 77%, 52%);
--darkcyan: hsl(184, 100%, 22%);
--verydarkcyan: hsl(179, 100%, 13%);
--paragraphwhite: hsla(0, 0%, 100%, 0.75);
--lightgrey: hsl(0, 0%, 95%);
}

* {
    h2 {
        font-family: 'Big Shoulders Display', sans-serif;
        font-size: 3rem;
        color: var(--lightgrey);
        text-transform: uppercase;
        margin-bottom: 0.1em;
    }

    p {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 1rem;
        line-height: 1.75em;
        max-width: 14rem;
        color: var(--paragraphwhite);
        margin-bottom: 5em;
    }

    a {
        font-family: 'Lexend Deca', sans-serif;
    }
}

body {
    background: var(--lightgrey);
    font-size: 15px;
    padding: 0;
    max-width: 100vw;
    height: 95vh;
    @media (max-width: 73.5rem){height:unset;}

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    top:50;
    max-width: 75%;

    @media (max-width: 73.5rem) {
        grid-template-columns: 1fr;
        top:unset;
        margin:auto;
    }

    section {
        padding: 3em;

        display: flex;
        justify-content: space-evenly;
        flex-direction: column;

        @media (max-width: 73.5rem){
            border-radius: 0;
        }
    }

    img {
        width: 5rem;
        padding: 0;
    }

    .sedan {
        background-color: var(--brightorange);      
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em; 

        @media (max-width: 73.5rem){
            border-radius: 0;
        }
        
    }
    .suv {
        background-color: var(--darkcyan);
    }
    .luxury {
        background-color: var(--verydarkcyan);
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;

        @media (max-width: 73.5rem){
            border-radius: 0;
        }
    }

    .button {
        padding: 0;
        margin: 1em 0 2em 0;
        width: 100%;

        &.sedan a {
            color: var(--brightorange);
        }

        &.suv a {
            color: var(--darkcyan);
        }

        &.luxury a {
            color: var(--verydarkcyan);
        }

        a {
            background: var(--lightgrey);
            padding: 1em 2.5em;
            text-decoration: none;
            border-radius: 50px;
            border: 2px solid var(--lightgrey);
            box-sizing: border-box;

            transition: 300ms;
        }
        
        a:hover {
            background-color: transparent;
            border: 2px solid var(--lightgrey);
            color: white;
        }
    }
}